body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f5;
}

.header{
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
}

.layout{
    max-width: 700px;
    padding-top: 17px;
    margin: 0 auto 50px auto;
    background-color: #ffffff;
    color: #ffffff00;
}

#logo{
    margin-left:20px;
    background-color: #ffffff00;
    color:#000000;
    border: none;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    float: left;
}
#text{
    margin: 5px 10px 10px 10px;
    font-size: 20px;
    float: left;
    color:#000000;
}

#store{
    margin: 7px 20px;
    font-size: 17px;
    float: right;
    color:#000000;
    text-decoration: none;
    cursor: pointer;
}

#line {
    margin-top: 10px;
    padding: 10px 0;
    background-color: #ffffff;
    border-left: 1px solid #dfdfdf;
    float: right;
}

#mypage{
    margin: 7px 20px 0 20px;
    font-size: 17px;
    float: right;
    color:#000000;
    text-decoration: none;
    cursor: pointer;
}

.main{
    max-width: 700px;
    margin: 30px auto 0px auto;
}

.container {
    margin: 0px 10px 10px 10px;
    padding: 10px 20px 10px 20px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 13px;
    box-sizing: border-box;
}

#typing-container {
    width: 280px;
    padding: 10px;
    margin: 13px 10px 13px 30px;
    border: 0px;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
}
#typing-container:focus {
    outline: none;
    border-bottom: 2px solid #6b6b6b;
}
.btn{
    margin: 0px 1px 0px 10px;
    padding: 7px 13px;
    background-color: #f7f7f7;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    font-size: 15px;
    color: #797979;
    cursor: pointer;
}
.btn:hover{
    background-color: #e8e8e8;
}


#store-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    margin: 10px 10px 10px 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.item-img {
    width: 200px;
    height: 200px;
    margin: 0 0px;
    float: left;
    clear: both;
}
.item-id-name {
    width: 130px;
    padding: 5px;
    margin: 13px 0px 0px 0px;
    border: 0px;
    border-bottom: 0px;
    font-size: 13px;
    float: left;
    clear: both;
}

.new-item-btn{
    background-image: url('icons/new.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin: 115px 70px 115px 70px;
    padding: 50px 50px 50px 50px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.new-item-btn:hover{
    background-color: #f1f1f1;
}
.new-item{
    margin: 10px 10px 10px 10px;
    padding: 50px 39px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
#item-image-btn{
    margin: 0 30px;
    width: 80px; height: 80px;
    background-image: url('icons/new.png');
    background-repeat: no-repeat;
    background-position: -10px -10px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 13px;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    float: left;
    clear: both;
}
#item-image-btn:hover{
    background-color: #f1f1f1;
}
#item-new-image {
    margin: 1px 0 1px 30px;
    max-width: 80px; max-height: 80px;
    float: left;
    clear: both;
}
#item-remove-image{
    margin: 0 -21px 0 5px;
    padding: 13px;
    background-image: url('icons/x.png');
    background-repeat: no-repeat;
    background-position: -37px -38px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}
.item-name-input {
    width: 110px;
    padding: 5px;
    margin: 13px 0px 0px 10px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    float: left;
    clear: both;
}
.item-name-input:focus {
    outline: none;
    border-bottom: 2px solid #6b6b6b;
}
.item-price-input {
    width: 110px;
    padding: 5px;
    margin: 13px 0px 0px 10px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    float: left;
    clear: both;
}
.item-price-input:focus {
    outline: none;
    border-bottom: 2px solid #6b6b6b;
}
.item-submit-btn {
    margin: 5px 2px;
    padding: 7px 13px;
    float: right;
    background-color: #f1f1f1;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-size: 15px;
    color: #5c5c5c;
    cursor: pointer;
    float: left;
    clear: both;
}
.item-submit-btn:hover {
    background-color: #dbdbdb;
}