body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f5;
}

.header{
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
}

.layout{
    max-width: 700px;
    padding-top: 17px;
    margin: 0 auto 17px auto;
    background-color: #ffffff;
    color: #ffffff00;
}

#logo{
    margin-left:20px;
    background-color: #ffffff00;
    color:#000000;
    border: none;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}

#store{
    margin: 7px 20px;
    font-size: 17px;
    float: right;
    color:#000000;
    text-decoration: none;
    cursor: pointer;
}

#line {
    margin-top: 10px;
    padding: 10px 0;
    background-color: #ffffff;
    border-left: 1px solid #dfdfdf;
    float: right;
}

#mypage{
    margin: 7px 20px 0 20px;
    font-size: 17px;
    float: right;
    color:#000000;
    text-decoration: none;
    cursor: pointer;
}


.main{
    max-width: 700px;
    margin: 30px auto 0px auto;
}

#container {
    margin: 0px 10px 50px 10px;
    padding: 20px 20px 100px 20px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 13px;
    box-sizing: border-box;
}

.area1 {
    padding-bottom: 60px;
    border-bottom: 1px solid #e7e7e7;
}
#QRcode_button{
    background-image: url('icons/QRcode.png');
    background-repeat: no-repeat;
    margin-top: 0px;
    padding: 10px 20px 10px 60px;
    font-size: 20px;
    background-color: #ffffff;
    border: 0px;
    float: left;
    cursor: pointer;
    border: 1px solid #dfdfdf;
    border-radius: 50px;
}
#QRcode_button:hover{
    background-color: #f1f1f1;
}
#text{
    margin: 5px 10px 10px 10px;
    font-size: 25px;
    color:#000000;
    float: left;
}
#mypoint{
    margin: 5px 30px 10px 10px;
    font-size: 25px;
    color:#000000;
    float: right;
}
.cancel_button{
    background-image: url('icons/back.png');
    background-repeat: no-repeat;
    margin-top: 2px;
    padding: 20px;
    background-color: #ffffff;
    border: 0px;
    float: left;
    cursor: pointer;
    border-radius: 50px;
}
.cancel_button:hover{
    background-color: #f1f1f1;
}


.area2 {
    margin-top: 20px;
    padding: 0 30px 20px 30px;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#stamp_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stamp_img{
    margin: 10px;
}
#QRcode{
    margin: 100px 0 30px 0;
}
.countdown{
    margin: 0 120px 30px 120px;
    text-align: center;
    
}