body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f5;
}

.header{
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
}

.layout{
    max-width: 700px;
    padding-top: 17px;
    margin: 0 auto 50px auto;
    background-color: #ffffff;
    color: #ffffff00;
}

#logo{
    margin-left:20px;
    background-color: #ffffff00;
    color:#000000;
    border: none;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    float: left;
}
#text{
    margin: 5px 10px 10px 10px;
    font-size: 20px;
    float: left;
    color:#000000;
}

#store{
    margin: 7px 20px;
    font-size: 17px;
    float: right;
    color:#000000;
    text-decoration: none;
    cursor: pointer;
}

#line {
    margin-top: 10px;
    padding: 10px 0;
    background-color: #ffffff;
    border-left: 1px solid #dfdfdf;
    float: right;
}

#mypage{
    margin: 7px 20px 0 20px;
    font-size: 17px;
    float: right;
    color:#000000;
    text-decoration: none;
    cursor: pointer;
}

.main{
    max-width: 700px;
    margin: 30px auto 0px auto;
}

.container-name{
    margin: 5px 0 10px 10px;
    font-size: 25px;
    float: left;
    color:#000000;
}
.container {
    margin: 0px 10px 20px 10px;
    padding: 10px 20px 0px 20px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 13px;
    box-sizing: border-box;
    clear: both;
}

#area1 {
    padding: 10px 0 80px 0;
    border-bottom: 1px solid #e7e7e7;
}
#nickname{
    margin: 5px 0 0 10px;
    float: left;
    font-size: 25px;
    color:#000000;
}
#user-id{
    margin: 6px 0 0 10px;
    float: left;
    font-size: 15px;
    color:#8f8f8f;
    clear: both;
}
#pw{
    margin: 10px 0 0 10px;
    float: left;
    color:#000000;
}
.edit-btn{
    margin: 0px 1px 0px 10px;
    padding: 7px 13px;
    background-color: #f7f7f7;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    font-size: 15px;
    color: #797979;
    cursor: pointer;
    float: right;
}
.edit-btn:hover{
    background-color: #e8e8e8;
}
.confirm-btn{
    margin: 0px 1px 0px 10px;
    padding: 7px 13px;
    background-color: #01977F;
    border: 1px solid #01977F;
    border-radius: 10px;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    float: right;
}
.confirm-btn:hover{
    border: 1px solid #007a65;
    background-color: #007a65;
}
.nicknameEdit-container {
    width: 200px;
    padding: 5px 0 10px 10px;
    margin: 0px 0px 0px 0px;
    border: 0px;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    float: left;
}
.nicknameEdit-container:focus {
    outline: none;
    border-bottom: 2px solid #6b6b6b;
}

.logout-btn{
    margin: 5px 2px;
    padding: 7px 13px;
    float: right;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-size: 15px;
    color: #5c5c5c;
    cursor: pointer;
}
.logout-btn:hover{
    background-color: #f1f1f1;
}

#area2{
    padding: 10px 0 55px 0;
    border-bottom: 1px solid #e7e7e7;
}
#textEmail{
    margin: 10px 10px 0 10px;
    float: left;
    color:#000000;
}
#email{
    margin: 10px 0 0 0;
    float: left;
    color:#8f8f8f;
}

#area3{
    padding: 10px 0 55px 0;
}
#withdrawal{
    margin: 0 0 0 40px;
    float: left;
    font-size: 15px;
    color:#8f8f8f;
    clear: both;
    text-decoration: none;
    cursor: pointer;
}

.login-container {
    width: 400px;
    margin: 0px auto;
    padding: 40px 50px 20px 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    box-sizing: border-box;
}
.text{
    margin: 0 0 20px 0;
    float: left;
    font-size: 25px;
    color:#000000;
}
.typing-container {
    width: 280px;
    padding: 10px;
    margin: 13px 0px 0px 0px;
    border: 0px;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    float: left;
}
.typing-container:focus {
    outline: none;
    border-bottom: 2px solid #6b6b6b;
}
#joinsubmit-button {
    padding: 11px 114px;
    margin: 30px 0px 20px 0px;
    background-color: #01977F;
    border: none;
    border-radius: 13px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
#joinsubmit-button:hover {
    background-color: #00705e;
}
#join-button{
    padding: 10px;
    margin-left:113px;
    cursor: pointer;
    background-color: #ffffff;
    color:#6b6b6b;
    border: none;
}
.error-message{
    color: #ff0000;
    float: left;
}