<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Ecoarium </title>
    <link rel="stylesheet" href="public/admin.css">
</head>
<body>
    <div class="header">
        <div class = "layout">
            <a id= "logo" href="/">Ecoarium</a>
            <a id = "text"> - 관리자페이지</a>
            <a id= "mypage" href="/mypage">마이페이지</a>
            <div id = "line"></div>
            <a id= "store" href="/store">스토어</a>
        </div>
    </div>
    <div class="main">
        <div class = "container">
            <div id = "use-container">상품 사용
                <input id="typing-container"></input>
                <button id = "use-btn" class = "btn">사용</button>
            </div>
        </div>
        <div class = "container">
            <div id = "store-container"></div>
        </div>
    </div>
    <script>
        // 상품 사용
        const use_btn = document.getElementById('use-btn');
        use_btn.addEventListener('click', async () => {
            try {
                const value = document.getElementById('typing-container').value;
                await fetch('/admin/use', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({value}),
                })
                .then(response => response.json())
                .then(data => {
                    if (data == true) {
                        window.alert("사용 완료");
                    }
                    else {
                        window.alert("유효하지 않은 코드입니다.");
                    }
                });
            } catch (error) {
                console.error(error);
            }
        });

        //스토어 컨테이너
        const store_container = document.getElementById('store-container');

        //생성 버튼
        const new_item_btn = document.createElement('button');
        new_item_btn.classList.add('new-item-btn');
        new_item_btn.addEventListener('click', async () => {
            try {
                new_item_btn.remove(); // 버튼 제거
                //생성 폼 생성
                const new_item = document.createElement('form');
                new_item.classList.add('new-item');
                new_item.setAttribute('action', '/admin/newitem');
                new_item.setAttribute('method', 'post');
                new_item.setAttribute('enctype', 'multipart/form-data');
                //이미지 버튼
                const fileInput_btn = document.createElement('label');
                fileInput_btn.setAttribute('id', 'item-image-btn');
                fileInput_btn.setAttribute('for', 'fileInput');
                //이미지
                let fileInput
                const new_fileInput = function() {
                    fileInput = document.createElement('input');
                    fileInput.setAttribute('id', 'fileInput');
                    fileInput.setAttribute('type', 'file');
                    fileInput.setAttribute('name', 'img');
                    fileInput.setAttribute('accept', 'image/*');
                    fileInput.style.display = 'none'; // 숨김
                    new_item.appendChild(fileInput);
                    //파일 선택 이벤트 리스너
                    fileInput.addEventListener('change', function () {
                        const file = fileInput.files[0];
                        //이미지 미리보기
                        let new_image
                        if (file) {
                            const reader = new FileReader();
                            reader.onload = function (e) {
                                new_image = document.createElement('img');
                                new_image.setAttribute('id', 'item-new-image');
                                new_image.src = e.target.result;
                                new_item.insertBefore(new_image, new_item.firstChild);
                            };
                            reader.readAsDataURL(file);
                            fileInput_btn.remove();
                            //이미지 삭제
                            const remove_image = document.createElement('button');
                            remove_image.setAttribute('id', 'item-remove-image');
                            remove_image.addEventListener('click', function() {
                                event.preventDefault();
                                new_image.remove();
                                remove_image.remove();
                                fileInput.remove();
                                new_fileInput();
                                new_item.insertBefore(fileInput_btn, new_item.firstChild);
                            });
                            new_item.insertBefore(remove_image, new_item.children[1]);
                        }
                    });
                };
                new_fileInput();
                //이름 입력란
                const nameInput = document.createElement('input');
                nameInput.classList.add('item-name-input');
                nameInput.setAttribute('type', 'text');
                nameInput.setAttribute('name', 'name');
                nameInput.setAttribute('placeholder', 'name');
                //가격 입력란
                const priceInput = document.createElement('input');
                priceInput.classList.add('item-price-input');
                priceInput.setAttribute('type', 'text');
                priceInput.setAttribute('name', 'price');
                priceInput.setAttribute('placeholder', 'price');
                // 저장 버튼
                const submitButton = document.createElement('button');
                submitButton.classList.add('item-submit-btn');
                submitButton.setAttribute('type', 'submit');
                submitButton.textContent = '저장';
                //폼완성
                new_item.appendChild(fileInput_btn);
                new_item.appendChild(nameInput);
                new_item.appendChild(priceInput);
                new_item.appendChild(submitButton);        
                store_container.appendChild(new_item);            
            } catch (error) {
                console.error(error);
            }
        });


        //상품 목록
        fetch('/admin/load')
            .then(response => response.json())
            .then(data => {
                //상품
                const items = data;
                items.forEach(each => {
                    const item = document.createElement('div');
                    item.classList.add('item');
                    store_container.appendChild(item);
                    //이미지
                    const img = document.createElement('img');
                    img.classList.add('item-img');
                    img.src = "uploads/" + each.img.slice(5);
                    item.appendChild(img);
                    //번호/이름/가격
                    const id_name = document.createElement('div');
                    id_name.classList.add('item-id-name');
                    id_name.textContent = each.id + "." + each.name + " / " + each.price;
                    item.appendChild(id_name);
                    //삭제버튼
                    const del_btn = document.createElement('button');
                    del_btn.classList.add('item-submit-btn');
                    del_btn.textContent = "삭제"
                    //item.appendChild(del_btn);
                    //수정버튼
                    const update_btn = document.createElement('button');
                    update_btn.classList.add('item-submit-btn');
                    update_btn.textContent = "수정"
                    item.appendChild(update_btn);
                });
                store_container.appendChild(new_item_btn);
            })
            .catch(error => {
                console.error('Error:', error);
            });


    </script>
</body>
</html>