<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Ecoarium </title>
    <link rel="stylesheet" href="public/profileModification.css">
</head>
<body>
    <div class="header">
        <div class = "layout">
            <a id= "logo" href="/">Ecoarium</a>
            <a id = "text"> - 프로필 수정</a>
            <a id= "mypage" href="/mypage">마이페이지</a>
            <div id = "line"></div>
            <a id= "store" href="/store">스토어</a>
        </div>
    </div>
    <div class="main">
        <div class="login-container">
            <div class="text">비밀번호 변경</div>
            <form action="/auth/change-pw" method="post">
                <input class="typing-container" type="password" name="present_pw" placeholder="현재 비밀번호" required autofocus>
                <input class="typing-container" type="password" name="new_pw" placeholder="새 비밀번호">
                <input class="typing-container" type="password" name="new_pw_verification" placeholder="새 비밀번호 확인">
                <% if (typeof messages !== 'undefined' && messages.joinError) { %>
                    <div class="error-message"><%= messages.joinError %></div>
                <% } %>
                <button id="joinsubmit-button" class="btn" type="submit">변경하기</button>
            </form>
            <a href="/profileModification"><button id="join-button">이전으로</button></a>
        </div>
    </div>
    <script>
        
    </script>
</body>
</html>