<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Ecoarium </title>
    <link rel="stylesheet" href="public/auth.css">
</head>
<body>
    <div class="layout">
        <a href="/"><button id="logo">Ecoarium</button></a>
    </div>
    <div class="login-container">
        <div class="text">비밀번호 찾기</div>
        <div id="text2"></div>
        <div id = "container">
            <input id = "username" class="typing-container" placeholder="비밀번호를 찾고자하는 아이디" required autofocus>
            <button id= "joinsubmit-button" type="submit">다음　　</button>
        </div>
        <a href="/"><button id="backtologin-button">로그인</button></a>
    </div>
    <script>
        const container = document.getElementById("container");
        const nextBtn = document.getElementById("joinsubmit-button");
        const usernameInput = document.getElementById("username");

        let submitedUsername;

        // 유효시간
        const effectiveTime = document.createElement('div');
        effectiveTime.classList.add("countdown");
        effectiveTime.innerText = "유효시간: 60초";
        var timer;
        var seconds;
        const countdown = function() {
            effectiveTime.innerText = "유효시간: " + seconds + "초";
            seconds--;
            if (seconds < 0) {
                clearInterval(timer);
                effectiveTime.innerText = "유효시간 종료";
            }
        }

        nextBtn.addEventListener('click', () => {
            try {
                const username = usernameInput.value;
                submitedUsername = username;
                fetch('/auth/sendCode', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({username}),
                });
                const sended = document.getElementById("text2");
                sended.innerText = "등록된 이메일로 인증 코드가 발송되었습니다.";
                container.removeChild(nextBtn);
                container.removeChild(usernameInput);
                const codeInput = document.createElement('input');
                codeInput.classList.add('typing-container');
                codeInput.placeholder = "인증 코드";
                container.appendChild(codeInput);
                codeInput.focus();
                seconds = 60;
                timer = setInterval(countdown, 1000);
                container.appendChild(effectiveTime);
                const newPwInput = document.createElement('input');
                newPwInput.type = "password";
                newPwInput.classList.add('typing-container');
                newPwInput.placeholder = "새 비밀번호";
                container.appendChild(newPwInput);
                const newPwVerifInput = document.createElement('input');
                newPwVerifInput.type = "password";
                newPwVerifInput.classList.add('typing-container');
                newPwVerifInput.placeholder = "새 비밀번호 확인";
                container.appendChild(newPwVerifInput);
                const message = document.createElement('div');
                message.classList.add('error-message');
                container.appendChild(message);
                const submitBtn = document.createElement('button');
                submitBtn.classList.add('change-button');
                submitBtn.innerText = "변경하기";
                //확인 버튼 이벤트 리스너
                submitBtn.addEventListener('click', async () => {
                    const username = submitedUsername;
                    const code = codeInput.value;
                    const newPw = newPwInput.value;
                    const newPwVerif = newPwVerifInput.value;
                    await fetch('/auth/newPW', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({username, code, newPw, newPwVerif}),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data == true) {
                            window.location.href = '/';
                        }
                        else {
                            message.innerText = data;
                        }
                    });

                });
                container.append(submitBtn);
            } catch (error) {
                console.error(error);
            }
        });
    </script>
</body>
</html>