<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Ecoarium - 로그인</title>
    <link rel="stylesheet" href="public/auth.css">
</head>
<body>
    <div class="layout">
        <a href="/"><button id="logo">Ecoarium</button></a>
    </div>
</body>
<body>
    <div class="login-container">
        <form action="/auth/login" method="post">
            <input class="typing-container" type="text" name="username" placeholder="아이디" required autofocus>
            <input class="typing-container" type="password" name="password" placeholder="비밀번호">
            <% if (typeof messages !== 'undefined' && messages.loginError) { %>
                <div class="error-message"><%= messages.loginError %></div>
            <% } %>
            <button id="login-button" type="submit">로그인</button>
        </form>
        <a href="/findpw"><button id="findPW-button">비밀번호 찾기</button></a>
        <div id = "line"></div>
        <a href="/join"><button id="join-button">회원가입</button></a>
    </div>
<script>

</script>
</body>
</html>
