<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Ecoarium </title>
    <link rel="stylesheet" href="public/main.css">
</head>
<body>
    <div class="header">
        <div class = "layout">
            <a id= "logo" href="/">Ecoarium</a>
            <a id= "mypage" href="/mypage">마이페이지</a>
            <div id = "line"></div>
            <a id= "store" href="/store">스토어</a>
        </div>
    </div>
    <div class="main">
        <div id = "container">
            <div class = "area1" id = "area1">
                <div id = "text">내 스탬프</div>
                <button id = "QRcode_button">적립 QR</button>
                <div id = "mypoint"></div>
            </div>
            <div class = "area2" id = "area2">
                <div id = "stamp_container"></div>
            </div>
        </div>
        <a href="/main/createpoint"><button id="logout-button">스탬프추가</button></a>
    </div>
    <script type="text/javascript" src="views/qr/jquery.min.js"></script>
    <script type="text/javascript" src="views/qr/qrcode.js"></script>
    <script>
        const area1 = document.getElementById('area1');
        const text = document.getElementById('text');
        const mypoint = document.getElementById('mypoint');
        const area2 = document.getElementById('area2');
        const container = document.getElementById('container');
        const stamp_container = document.getElementById('stamp_container');

        fetch('/main/loadpoint')
            .then(response => response.json())
            .then(data => {
                const point = data;
                for(i = 0; i < point; i++){
                    const stamp_img = document.createElement('img');
                    stamp_img.classList.add('stamp_img');
                    stamp_img.src = "public/icons/stamp.jpg";
                    stamp_img.alt = '스탬프';
                    stamp_container.appendChild(stamp_img);
                };
                mypoint.innerText = point + "개";
                if (point == 0) stamp_container.innerText = "\n\n\n\n보유 중인 스탬프가 없습니다.\n\n\n\n\n";
            })
            .catch(error => {
                console.error('Error:', error);
            });
        
        const QRcode_button = document.getElementById('QRcode_button');
        const QRcode_cancel_button = document.createElement('button');
        QRcode_cancel_button.classList.add('cancel_button');

        //QR 생성
        const qrcode = document.createElement('div');
        qrcode.setAttribute('id', 'QRcode');
        var QR = new QRCode(qrcode, {
            width: 256,
            height: 256,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
        //유효시간 텍스트 생성
        const effectiveTime = document.createElement('div');
        effectiveTime.classList.add("countdown");
        effectiveTime.innerText = "유효시간: 60초";
        var timer;
        var seconds;
        const countdown = function() {
            effectiveTime.innerText = "유효시간: " + seconds + "초";
            seconds--;
            if (seconds < 0) {
                clearInterval(timer);
                effectiveTime.innerText = "유효시간 종료";
            }
        }

        QRcode_button.addEventListener('click', async () => {
            try {
                QRcode_button.remove();
                text.innerText= "스탬프 적립";
                mypoint.remove();
                stamp_container.remove();
                area1.insertBefore(QRcode_cancel_button, area1.firstChild);
                fetch('/main/createQR')
                    .then(response => response.json())
                    .then(data => {
                        const value = data;
                        QR.makeCode(value);
                        area2.appendChild(qrcode);
                        seconds = 60;
                        timer = setInterval(countdown, 1000);
                        area2.appendChild(effectiveTime);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            } catch (error) {
                console.error(error);
            }
        });

        QRcode_cancel_button.addEventListener('click', async () => {
            try {
                area1.appendChild(QRcode_button);
                text.innerText= "내 스탬프";
                QRcode_cancel_button.remove();
                area1.appendChild(mypoint);
                area2.appendChild(stamp_container);
                qrcode.remove();
                clearInterval(timer);
                effectiveTime.remove();
                effectiveTime.innerText = "유효시간: 60초";
            } catch (error) {
                console.error(error);
            }
        });
    </script>
</body>
</html>