<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Ecoarium </title>
    <link rel="stylesheet" href="public/profileModification.css">
</head>
<body>
    <div class="header">
        <div class = "layout">
            <a id= "logo" href="/">Ecoarium</a>
            <a id = "text"> - 프로필 수정</a>
            <a id= "mypage" href="/mypage">마이페이지</a>
            <div id = "line"></div>
            <a id= "store" href="/store">스토어</a>
        </div>
    </div>
    <div class="main">
        <div class = "container">
            <div id = "area1">
                <div id = "nickname-place">
                    <div id = "nickname"></div>
                </div>
                <div id = "nickEditBtn-place">
                    <button id = "nicknameEdit-btn" class = "edit-btn">수정</button>
                </div>
                <div id = "user-id"></div>
            </div>
            <div id = "area2">
                <div id = "textEmail">이메일</div>
                <div id = "email-place">
                    <div id = "email"></div>
                </div>
                <div id = "emailEditBtn-place">
                    <button id = "emailEdit-btn" class = "edit-btn">수정</button>
                </div>
            </div>
            <div id = "area3">
                <div id = "pw">비밀번호</div>
                <button class = "edit-btn" onclick="window.location.href='/changepw'">수정</button>
            </div> 
        </div>
        <a id = "withdrawal" href="/withdrawal">회원탈퇴 ></a>
    </div>
    <script>
        const nickname_place = document.getElementById("nickname-place");
        const nickname = document.getElementById("nickname");
        const nickEditBtn_place = document.getElementById("nickEditBtn-place");
        const nicknameEdit_btn = document.getElementById("nicknameEdit-btn");
        const userId = document.getElementById("user-id");
        const email_place = document.getElementById("email-place");
        const email = document.getElementById("email");
        const emailEditBtn_place = document.getElementById("emailEditBtn-place");
        const emailEdit_btn = document.getElementById("emailEdit-btn");

        //프로필 불러오기
        fetch('/auth/loadProfile')
            .then(response => response.json())
            .then(data => {
                const user = data.user;
                nickname.innerText = user.nickname;
                userId.innerText = user.username;
                email.innerText = user.email;
            })
            .catch(error => {
                console.error('Error:', error);
            });

        //닉네임 수정
        const nickname_input = document.createElement('input');
        nickname_input.classList.add('nicknameEdit-container');
        const nickEditCancel_btn = document.createElement('button');
        nickEditCancel_btn.classList.add('edit-btn');
        nickEditCancel_btn.innerText = "취소";
        const nickEditConfirm_btn = document.createElement('button');
        nickEditConfirm_btn.classList.add('confirm-btn');
        nickEditConfirm_btn.innerText = "확인";
        //수정 버튼 이벤트 리스너
        nicknameEdit_btn.addEventListener('click', async () => {
            try {
                nickname.remove();
                nicknameEdit_btn.remove();
                nickname_place.appendChild(nickname_input);
                nickname_input.value = nickname.innerText;
                nickname_input.focus();
                nickEditBtn_place.appendChild(nickEditCancel_btn);
                nickEditBtn_place.appendChild(nickEditConfirm_btn);
            } catch (error) {
                console.error(error);
            }
        });
        //취소 버튼 이벤트 리스너
        nickEditCancel_btn.addEventListener('click', async () => {
            try {
                nickname_input.remove();
                nickEditCancel_btn.remove();
                nickEditConfirm_btn.remove();
                nickname_place.appendChild(nickname);
                nickEditBtn_place.appendChild(nicknameEdit_btn);
            } catch (error) {
                console.error(error);
            }
        });
        //확인 버튼 이벤트 리스너
        nickEditConfirm_btn.addEventListener('click', async () => {
            try {
                if (confirm("정말로 닉네임을 수정하시겠습니까?")) {
                    const nickname = nickname_input.value;
                    await fetch('/auth/modify', {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({nickname}),
                    });
                    location.reload();
                };
            } catch (error) {
                console.error(error);
            }
        });

        function confirmEmailEdit() {
            return confirm("정말로 이메일을 수정하시겠습니까?");
        }
        //이메일 수정
        const emailEditForm = document.createElement('form');
        emailEditForm.setAttribute('method', 'post');
        emailEditForm.setAttribute('action', '/auth/emailModify');
        emailEditForm.setAttribute('onsubmit', 'return confirmEmailEdit()');
        const email_input = document.createElement('input');
        email_input.setAttribute('type', 'email');
        email_input.setAttribute('name', 'email');
        email_input.classList.add('nicknameEdit-container');
        const emailEditCancel_btn = document.createElement('button');
        emailEditCancel_btn.classList.add('edit-btn');
        emailEditCancel_btn.innerText = "취소";
        const emailEditConfirm_btn = document.createElement('button');
        emailEditConfirm_btn.classList.add('confirm-btn');
        emailEditConfirm_btn.innerText = "확인";
        emailEditConfirm_btn.setAttribute('type', 'submit');
        emailEditForm.appendChild(email_input);
        emailEditForm.appendChild(emailEditCancel_btn);
        emailEditForm.appendChild(emailEditConfirm_btn);

        //수정 버튼 이벤트 리스너
        emailEdit_btn.addEventListener('click', async () => {
            try {
                email.remove();
                emailEdit_btn.remove();
                email_input.value = email.innerText;
                emailEditBtn_place.appendChild(emailEditForm);
                email_input.focus();
            } catch (error) {
                console.error(error);
            }
        });
        //취소 버튼 이벤트 리스너
        emailEditCancel_btn.addEventListener('click', async () => {
            try {
                emailEditForm.remove();
                email_place.appendChild(email);
                emailEditBtn_place.appendChild(emailEdit_btn);
            } catch (error) {
                console.error(error);
            }
        });
    </script>
</body>
</html>